################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BootstrapProject/Images/ImageCarousel/09456f1d-7839-40ba-95e1-5243e4850c02.JPG
/BootstrapProject/Images/ImageCarousel/1d5d0d2b-686d-4661-bbec-bdc57d763bf7.jpg
/BootstrapProject/Images/ImageCarousel/834a4123-8dfa-4c40-baa0-27d85369d40e.JPG
/BootstrapProject/Images/ImageCarousel/ab70e42b-5fa3-4e83-af45-8fc643e37468.jpg
/BootstrapProject/Images/ImageCarousel/ffb644fc-4608-406f-9e1b-ad5e1ffb1444.JPG
/BootstrapProject/App_Data
