################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BootstrapProject/Images/ImageCarousel/09456f1d-7839-40ba-95e1-5243e4850c02.JPG
